body > div
{
 transition:all 0.3s ease;
}

a {
  color: black;
}
a:hover {
  text-decoration: none;
}
#boxed:hover{
  transition-timing-function: ease-in-out;
  transition:all 0.15s ease;
  -webkit-transition-timing-function: ease-in-out;
 background: #36c42f;
  text-decoration: none;
  color: white;
  -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}
#boxed {
  padding: 7px;
 max-width: 400px;
  min-width: 250px;
  font-size: 1em;
  background: beige;
  margin:auto;
  margin-bottom: 2px;
  border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;

}

h2 {
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5em;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 10px;
  
}
.fb {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  width: 70%;
  height: auto;
  display: block;
  margin-left: auto;
    margin-right: auto }
}


#results0 {
  display: none;
}
#results1 {
  display: none;
}
#results2 {
  display: none;
}
#results3 {
  display: none;
}
#results4 {
  display: none;
}
#results5 {
  display: none;
}
#results6 {
  display: none;
}
#results7 {
  display: none;
}
#results8 {
  display: none;
}
#results9 {
  display: none;
}

